@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$primary: #00E0FF;
$secondary: #6C63FF;
$tertiary: #C4D8DB;
$white: #FFFFFF;
$gray: #C4C4C4;
$black: #000000;

$font-title: 'Poppins', sans-serif;
$font-text: 'Open Sans', sans-serif;

