.footer{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    

    .contact-us{
        display: grid;
        gap: 1.125rem;
        ul{
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;

            li{

                list-style: none;
                .icon{
                    width: 1.5rem;
                    height: 1.5rem;
                }

            }

        }

        p{
            margin: 0;
        }

    }

}

