@use './base';

.header{
    height: 4.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 2rem;//32px
    border-bottom: 2px solid base.$black;

    img{
        height: 2rem;
    }

    .btn{
        justify-self: end;
    }

    .burger-btn{
        width: auto;
        background-color: transparent;
        padding: 0;
        border: 0;
        z-index: 10;
        transition: .4s;
        position: fixed;
        right: 2rem;
        top: 1.125rem;
        cursor: pointer;
    }

    .burger-btn-active{
        path{
            fill: base.$primary;
        }
        transform: rotate(-180deg);
    }

}








