@use './base';

.navbar{
    position: fixed;
    width: 80%;
    height: 100%;
    background-color: base.$white;
    right: -100%;
    z-index: 2;
    transition: .4s;

    font-size: 1.4rem;
    font-family: base.$font-text;
     

    figure{
        display: flex;
        justify-content: center;
        margin: 2rem 2rem 0 2rem;
        
        img{
            background-color: red;
            width: 100px;
            height: 100px;
            clip-path: circle();
        }

    }

    #username{
        margin: 1rem 0 4rem;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }

    ul{

        list-style: none;
        margin: 0;
        padding: 0 2rem;

        li{
            display: flex;
            gap: 1rem;
            margin-bottom: 2rem;

            img{
                width: 2.5rem;
                height: 2.5rem;
            }

            a{
               text-decoration: none;
                color: base.$black;
            }

        }

    }

}

.nav-active{
    right: 0;
}

