@use './components/base';
@use './components/button';
@use './components/Header';
@use './components/Footer';
@use './Pages/Home';
@use './Pages/Register';
@use './Pages/Login';
@use './Pages/ProjectsHome';

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: base.$white;
    font-family: base.$font-text;
    letter-spacing: 0.24rem;
    position: relative;

    .btn{
        @include button.button();
    }

}

