@use '../components/base';
@use '../components/button';



.home{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem; 

    .welcome-img{
        justify-self: center;
        padding: 0 2rem;
    }

    .buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;

        button{
            min-width: 50%;
        }

    }

    .about-us-btn{
        @include button.button(base.$tertiary);
    }
    
}

