@use '../components/base';


.individualPost{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    scroll-behavior: scroll;
    position: relative;
    
    background-color: red;
    
}