@use '../components/_base';
@use '../components/button';

.login{

    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem; 

    form{
        .login-with{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.125rem;

            button{
                background-color: base.$white;
                border: 2px solid base.$black;
                border-radius: .9rem;
                width: 90%;
                min-height: 3.125rem;
                font-family: base.$font-title;
                font-weight: bold;
                font-size: .9rem;


                display: grid;
                grid-template-columns: 0.1fr 0.9fr;
                align-items: center;

            }

            button:nth-last-child(1){
                margin-bottom: 1.5rem;
            }

        }

    }

    .footer{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }

}
