@use '../components/base';


.projectsPost{
    display: flex;
    flex-direction: column;
    // flex-direction: column-reverse;
    height: 100%;
    gap: 2rem;
    scroll-behavior: scroll;
    position: relative;
    
    h2{
        text-align: center;
    }
    
    .title{
        text-transform: capitalize;
        margin: 0;
    }

    .empty{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 60%;
        }
        .empty-title{
            text-align: center;
            font-family: base.$font-text;
            font-weight: normal;
            font-size: 1.3rem;
            padding: 0 2rem;
        }
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .btn-post{
        width: 80%;
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 17px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-family: base.$font-title;
        font-weight: 700;
        align-items: center;
        cursor: pointer;
        padding: 0 1rem;
    }

    a{
        display: grid;
        grid-template-columns: 3fr 1fr;
        text-decoration: none;
        color: base.$black;
    }
    .project{   
        text-align: start;
    }
    .project2{
        color: base.$secondary;
        justify-self: end;
    }

}